:root {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    --color-first: rgb(0,107,168);
    --color-second: rgb(0,174,240);
}

* {
    box-sizing: inherit;
}

a { 
    text-decoration: none; 
    color: inherit;
}

li { list-style: none; }

ul {
    padding-left: 0;
}

h1,
ul,
p {
    margin-bottom: 0;
    margin-top: 0;
}

iframe {
    width: 100%;
    min-height: 100%;
}

img {
    max-width: 100%;
}

.header,
.banner,
.presentation {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

h1 { color: var(--color-first); }

.edteam { 
    font-weight: 700;
    color: var(--color-second); 
}

.footer {
    background-color: #000;
    color: #fff;
}

.logo {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.logo__img { height: 2.5em; }


.banner {
    line-height: 0;
}

.presentation { 
    padding-bottom: 1.5em;
    padding-top: 1.5em; 
    width: 90%;
}

.presentation__text {
    margin-bottom: 1em;
    line-height: 1.8em;
}

.list{
    line-height: 3em;
    font-weight: 400;
}

.list__item {
    border-bottom: 1px solid #fff;
    padding-left: .5em;
    text-transform: uppercase;
}
.menu {
    background-color: var(--color-first);
    color: #fff;
}

.name {
    padding-bottom: 1em;
    padding-top: 1em;
    line-height: 1.5em;
    font-size: 2.2rem;
    font-weight: 700;
}

.footer{  
    text-align: center; 
}

.footer__text {
    line-height: 3em; 
}

.content-rs {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 1em;
    border-top: 1px solid #fff;
}

.content-rs--page {
    color: var(--color-second);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content-rs--page a{
    margin-bottom: .5em;
}


a[class^="icon"] {
    letter-spacing: 1px;
}

.box-map {
    min-height: 320px;
    border: 1px solid black;
    line-height: 0;
    margin-bottom: 1em;
}

.form {
    padding-top: 1em;
    padding-bottom: 1em;
}

.container-form {
    margin-bottom: 1em;
}

.form-item {
    margin-bottom: 1em;
}

.form-item label{
    line-height: 2em;
}

label {
    font-weight: 600;
}
input,
label {
    display: block;
}

.form-item input[type="text"] {
    width: 60%;
}

textarea { width: 100%; }
.btn {
    background-color: var(--color-first);
    color: #fff;
    border: 0;
    padding: 1em;
}

.form-header p {
    line-height: 1.5em;
}
.form-header h1 {
    padding-top: .5em;
    padding-bottom: .5em;
}

@media screen and (min-width: 30em){
    .list {
        display: flex;
        justify-content: space-around;
    }
    .list__item {
        border-bottom: 0;
        padding-left: 0;
    }
    
}

@media screen and (min-width: 48em){
    .content-rs {
        flex-direction: row;
        justify-content: space-around;
        border-top: 0;
    }
    .presentation-page {
        grid-template-areas: "contact redes"
                             "map       .";
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
        margin-bottom: 5em;
    }
    .presentation-page a {
        padding: .7em;
    }
    .box-map {
        grid-area: map;
    }
    .container-form {
        margin-right: 3em;
    }
    
}

@media screen and (min-width: 64em){
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        width: 40%;
        background-color: initial;
        color: var(--color-first);
    }
    .list__item {
        line-height: 1.5em;
        padding: .4em;
    }
    .list__item:hover, .active {
        background-color: var(--color-first);
        color: #fff;
    } 
    .footer {
        padding: .5em;
    } 
}