ul(class="list")
    each pagina in paginas
        if ( pagina == sitio) 
            li(class="list__item active"): a(class="list__item__link" href=pagina+".html")=pagina
        else
            li(class="list__item"): a(class="list__item__link" href=pagina+".html")=pagina