if (valor == true)
    div(class="content-rs")
        a(class="icon-facebook" href="https://www.facebook.com/") siguenos a facebook
        a(class="icon-twitter" href="https://twitter.com/?lang=es") siguenos a twitter
        a(class="icon-github" href="https://github.com/jordanpe1" alt="_blank") siguenos a Github
else
    div(class="content-rs--page") 
        a(class="icon-facebook" href="https://www.facebook.com/") siguenos a facebook
        a(class="icon-twitter" href="https://twitter.com/?lang=es") siguenos a twitter
        a(class="icon-github" href="https://github.com/jordanpe1" alt="_blank") siguenos a Github