extends template/templates.pug

 

block banner
    img(src="img/inicio.jpg" alt="joven diseñando una web")

block presentation
    h1(class="name") HTML5 Desde Cero - Proyecto final
    p(class="presentation__text") Este es el proyecto final creado en el curso HTML5 Desde Cero. El sitio ha sido creado utilizando el motor de plantillas pug y estilos con css plano para hacerlo totalmente responsive.
    p(class="presentation__text") El curso <b> HTML5 Desde Cero </b> contiene 4 módulos que te llevan desde cero hasta crear este sitio web.
    p(class="presentation__text") Conoce más del curso e inscribete en <a class="edteam" href="https://ed.team/" target="_blank"> https://escuela.digital/html </a>