extends template/templates.pug

append config
    -valor = false;

block banner
    img(src="/img/nosotros.jpg" alt="alumnas estudiando en la computadora")

block presentation
    div
        h1 Bienvenidos
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sit commodi iure tempore! Tenetur ducimus voluptatem temporibus iure delectus ad architecto nisi? Quia itaque in doloribus consequuntur necessitatibus ad doloremque!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptate deleniti placeat corrupti explicabo rem dolor tempora ab labore optio quod, et qui natus veritatis iusto ipsa provident! Similique, modi.
    include blocks/redes.pug